* {
    box-sizing: border-box;
}

.container{
	width:100%;
	padding:0px;
	margin:0px;
}

body{
	color:#004080;
	margin:0px;
	background:transparent;
	font-family:Questrial,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.5em; 
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;	
  margin-top:80px;
  margin-right:10px;
  margin-left:10px;
  text-align: center;
  font-family: Questrial,"Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-top:30px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  float:left;
 border:0.5px solid #0080c0;
}

.card:hover{
	-webkit-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
	-moz-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
	box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
	cursor:pointer;	
}

.title {
  
  color: #004080;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
}

.card-body{
	color:#004080;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #004080;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.titleheader{
	background-color: #0068d0;
	color:white ! important;
	width:100%;
	height:20%;
	float:left;
	padding-left:100px;
	padding-top:30px;

}
button:hover {
  opacity: 0.7;
}

.text-web{
	color:#004080;
    padding-top:40px;
   font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.title{
	background-color: #0068d0;
	color:white ! important;
	width:140%;
	height:40%;
	padding-left:15%;
	text-align:left;
}
#content{
	
	padding:0;
	margin:0px;
	border:0px solid red;
	align:center;
}

.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
