body{
	background:transparent !important;
	overflow:hidden !important;
	font-family:"Montserrat", sans-serif;
}
.about{
	width:145px;
	height:145px;
}
.service{
	width:160px;
	height:150px;
}
.contact{
	width:220px;
	height:140px;
}
img{
	cursor:pointer;
}
.about:hover,.service:hover,.contact:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
